#titulo-id{
    color: blueviolet;
}

.cor-azul{
    color: blue;
}


h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(110, 0, 138);
    font-size: 35px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 35px;
    color: rgb(136, 0, 255);
}

.fundo-roxo{
    background: rgb(244, 240, 255);
}

.fonte-grande{
    font-size: 50px;
}

.palavra {
    color: black;
}

#titulo-principal{
    background: purple;
    color: white;
}

/*especifidade*/